body {
  background-image: url("https://wallpaperplay.com/walls/full/5/5/e/84321.jpg");
}
  
  
  
  .red_font {
    color: #bc001f;
  }
  
  .tiny_text {
    font-size: 11px;
    color: #5da82f;
  }
  